<% content_for :page_title, "What I can bring to the table" %>

  <div class="wrapper">
    <header class="header title is-3"></header>
    <article class="main is-centered">
      Some of my traits and skillsets,
      <br/>
      and enthusiasm to learn and grow</article>
    <aside class="aside aside-2">
      <nav class="panel">
        <p class="panel-heading">Top Traits</p>
        <p class="panel-block">Learner</p>
        <p class="panel-block">Achiever</p>
        <p class="panel-block">Self-motivated</p>
        <p class="panel-block">Go getter</p>
        <p class="panel-block">Dependable</p>
      </nav>
    </aside>
    <aside class="aside aside-1">
      <nav class="panel">
        <p class="panel-heading">Tech Stack</p>
        <p class="panel-block">Rails</p>
        <p class="panel-block">React</p>
        <p class="panel-block">Asp.net</p>
        <p class="panel-block">C#</p>
        <p class="panel-block">SQL</p>
      </nav>
    </aside>
    <br/>

  </div>

  <footer class="footer">
    <small class="is-pulled-right">SarahRehan 2020</small>
  </footer>