<% content_for :page_title, "Get in touch for work and feedback!" %>

  <div class="container">
    <br/>
    <div class="columns ">
      <div class="column is-6">
        <div class="tab-content"></div>
        <span class="is-size-4">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Drop an email at:</span>
      </div>
      <div class="column is-6">
        sarahahmad17@gmail.com
      </div>
    </div>
    <hr/>
    <div class="columns ">
      <div class="column is-6">
        <span class="is-size-4">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Reach out on LinkedIn:</span>
      </div>
      <div class="column is-6">
        ca.linkedin.com/in/sarahrehan85
      </div>
    </div>
    <hr/>

    <footer class="footer">
      <!-- <ul class="flex-container"> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> <li class="flex-item"></li> </ul> -->
      <br/>
      <small class="is-pulled-right">SarahRehan 2020</small>
    </footer>
  </div>