<% content_for :page_title, "Hi, I am Sarah Rehan - A Web Developer" %>

  <div class="row">
    <br/>
    <div class="col-6 col-md-4 text-center">
      <div >
        <%= image_tag "/assets/ror.jpg", alt:"Programming", class: "img-fluid img-circle" %>
      </div>
      <div class="label">
        Ruby on Rails
      </div>
    </div>

    <div class="col-6 col-md-4 text-center">
      <div >
        <%= image_tag "/assets/ror.jpg", alt:"Programming", class: "img-fluid img-circle" %>
      </div>
      <div class="label">
        Asp.net / C#
      </div>
    </div>

    <div class="col-6 col-md-4 text-center">
      <div>
        <%= image_tag "/assets/ror.jpg", alt:"Programming", class: "img-fluid img-circle" %>
      </div>
      <div class="label">
        React
      </div>
    </div>

  </div>