/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
  margin: 0;
}

.navbar-item.logo {
  border: 1px solid orange;
  padding: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid yellow;
  margin: auto;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 1.5em;
  width: auto;
  color: gray;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  &:hover {
    padding: 13px;
  }
}
.navbar-item.nav-link {
  background-color: gray;
  height: 30px;
  margin: 7px;
  font-weight: bold;
  &:hover {
    background-color: purple;
  }
  a {
    color: orange;
  }
}

nav.navbar {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 350px;
  background-color: orange;
}

.introduction {
  position: absolute;
  top: 230px;
  width: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1.8em;
}
